<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Downy Shoes an Ecommerce Category Bootstrap Responsive Website Template | Check Out :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Downy Shoes Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //font-awesome-icons -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<style>
    {{>bootstrap}}
    {{>shop}}
    {{>style7}}
    {{>fontawesome}}
    {{>style1}}
	{{>checkout}}

	.buttoin{
		padding: 10px;
	}
	
	.timetable_sub th
	{
		width: 180px;
	}
	.img-responsive
	{
		display: math;
		max-width: 150px;
		height: 210px;
	}
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {

    max-width: 100%;
	max-height: 50%;
	}
	.ABC {
		font-size: 1em;
		color: #020000;
		font-weight: 600;
		padding: 1em 0;
		border-top: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		margin: 2em 0 0;
	}
	#Validate{
		font-weight: bold;
		color: red;
	}
    .short1{
        color: white;
    }
    .short a{
        color: white;
    }
    .Nothing{
        display: flex;
    }
    .Item1{
        padding: 10px;
        margin: 10px;

    }
    .temp_form{
        width: 40%;
        position: relative;
        margin: 10rem auto 6rem;
      }

      .temp_form input[type="text"] {
        width: 100%;
        padding: 2rem 5rem 2rem 2rem;
        background: #1e202b;
        color: white;
        outline: none;
        border: none;
        font-size: 1.7rem;
        border-radius: 3rem;
      }

      ::placeholder{
        color: #bfc1c8;
      }

      .temp_form input[type="submit"] {
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        border: none;
        background: #009ad8;
        padding: 0 3rem;
        border-radius: 3rem;
        color: white;
        font-size: 1.6rem;
      }

      .tempinfo{
        width: 40rem;
        margin: auto;
        min-height: 5rem;
        background-color: #323544;
        border-radius: 1rem;
       /* padding: 1rem;*/
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }


      .temp_form input[type="submit"]:hover{
        color: #009ad8;
        background-color: #fff;
      }
      .continue-shopping {
            margin-top: 20px;
        }

        .continue-shopping a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #0074cc;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
        .thank-you {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
</style>

<body>
	<!-- banner -->
	<div class="banner_top innerpage" id="home">
		<div class="wrapper_top_w3layouts">
			<div class="header_agileits">
				<div class="logo inner_page_log">
					<h1><a class="navbar-brand" href="#"><span>Downy</span> <i>Shoes</i></a></h1>
				</div>
				<div class="overlay overlay-contentpush">
					<button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>
				</div>
				
			</div>
		</div>
		
		<!-- //search -->
		<div class="clearfix"></div>
		<!-- /banner_inner -->
		<div class="services-breadcrumb_w3ls_agileinfo">
			<div class="inner_breadcrumb_agileits_w3">

				<ul class="short">
					<li><a href="#" class="short1">Insert Product</a><i>|</i></li>
					<li><a href="#">Update Stock</a><i>|</i></li>
					<li><a href="/">Logout</a></li>
				</ul>
			</div>
		</div>
		<!-- //banner_inner -->
	</div>

	<!-- //banner -->
	<!-- top Products -->
    <div class="thank-you">
        <h1>Thank You for Your Order</h1>
        <p>Your order has been successfully processed. Here are your order details:</p>
    </div>
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<div class="privacy about">

				<div class="checkout-right">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>Product</th>
								<th>Quality</th>
								<th>Product Name</th>
								<th>Price</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
							{{#each objectArray}}
								<tr class="rem2">
									<td class="invert-image"><img src='{{Firstimg}}' alt=" " class="img-responsive"></td>
									<td class="invert">
										<div class="quantity">
											<div class="quantity-select">
												{{quantity}}
											</div>
										</div>
									</td>
									<td class="invert">{{Pname}}</td>

									<td class="invert">${{price}}</td>
									<td class="invert">
										<div class="rem">
											<div>{{size}}</div>
										</div>

									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>

                    <div class="continue-shopping">
                        <a href="/">Continue Shopping</a>
                    </div>
				</div>
				<div class="checkout-left">
					<div class="col-md-4 checkout-left-basket">
						
					</div>
					
					<div class="clearfix"> </div>


					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- /newsletter-->
		{{!-- <div class="newsletter_w3layouts_agile">
			<div class="col-sm-6 newsleft">
				<h3>Sign up for Newsletter !</h3>
			</div>
			<div class="col-sm-6 newsright">
				<form action="#" method="post">
					<input type="email" placeholder="Enter your email..." name="email" required="">
					<input type="submit" value="Submit">
				</form>
			</div>

			<div class="clearfix"></div>
		</div> --}}
		<!-- //newsletter-->
		<!-- footer -->
		<div class="footer_agileinfo_w3">
			<div class="footer_inner_info_w3ls_agileits">
				
				<div class="clearfix"></div>

				<p class="copy-right-w3ls-agileits">&copy 2023 Downy Shoes. All rights reserved | Design by Sunny And Bhavish</a></p>
			</div>
		</div>
	</div>
	<!-- //footer -->
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
		shoe.render();

		shoe.cart.on('shoe_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- /nav -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/demo1.js"></script>
	<!-- //nav -->
	<!--search-bar-->
	<script src="js/search.js"></script>
	<!--//search-bar-->
	<!--quantity-->
	<script>
		$('.value-plus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) + 1;
			divUpd.text(newVal);
		});

		$('.value-minus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) - 1;
			if (newVal >= 1) divUpd.text(newVal);
		});
	</script>
	<!--quantity-->
	<script>
		$(document).ready(function (c) {
			$('.close1').on('click', function (c) {
				$('.rem1').fadeOut('slow', function (c) {
					$('.rem1').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close2').on('click', function (c) {
				$('.rem2').fadeOut('slow', function (c) {
					$('.rem2').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close3').on('click', function (c) {
				$('.rem3').fadeOut('slow', function (c) {
					$('.rem3').remove();
				});
			});
		});
	</script>

	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smoth-scrolling -->
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>

</html>